.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.playlist {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
  background-color: black;
  font-weight: bold;
  height: 70vh;
  width: 70vh;
  list-style-type: none;
  /* justify-content: space-evenly; */
  font-size: 3vh;
  padding: 0 0 2vh 0;
  overflow: scroll;

}

body {
  background-color: rgba(0, 0, 0, 0.87);
}

li {
  border: gray solid 1px;
  padding: 1.5vh;
}

.songNumber {
  color: gray;
  margin-right: 2vh;
}

.songName {
  color: white;
  padding-left: 5%;
}

.controls {
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 5vh;
  width: 40%;
  padding-bottom:3vh;
  
  
 
}

.musicPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: gray solid 1px;
}