.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.playlist {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
  background-color: black;
  font-weight: bold;
  height: 70vh;
  width: 70vh;
  list-style-type: none;
  font-size: 3vh;
  padding: 0 0 2vh 0;
  overflow: scroll;
  margin-top: 0;

}

body {
  background-color: rgba(0, 0, 0, 0.87);
}

li {
  border: gray solid 1px;
  padding: 1.5vh;
  
  
}

.songNumber {
  color: gray;
  margin-right: 2vh;
}

.songName {
  color: white;
  padding-left: 5%;
}

.controls {
  display: flex;
  color: white;
  justify-content: space-evenly;
  font-size: 4vh;
  width: 100%;
  padding-bottom:3vh;
  height: 6vh;
  
 
}

.musicPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: gray solid 1px;
}

.fa-caret-square-left, .fa-caret-square-right {
  text-align: center;
  padding: 0.8vh;
  border: 2px solid  rgba(33,33,33,255);
}

.fa-play, .fa-pause-circle {
  text-align: center;
  padding: 0.8vh ;
  border: 2px solid  rgba(33,33,33,255);
  width: 5vh;
}
/* {
  text-align: center;
  width:2vh;
  padding: 0.8vh ;
  border: 2px solid  rgba(33,33,33,255);
}
 */

.fa-volume-up, .fa-volume-down {
  text-align: center;
  padding: 0.8vh;
  border: 2px solid  rgba(33,33,33,255);
}

.fa-repeat, .fa-random {
  text-align: center;
  padding: 1.2vh;
}


.fa-play:active, .fa-caret-square-left:active, .fa-caret-square-right:active, .fa-volume-up:active, .fa-volume-down:active {
  background-color: rgb(69, 245, 148);
  border: rgb(46, 155, 95) solid 2px;
}

.fa-pause-circle:active {
  color: rgb(69, 245, 148);
  border: rgb(46, 155, 95) solid 2px;
}

li:active, .fa-random:active {
  background-color: rgb(69, 245, 148);
}

#logo {
  height: 15vh;
  width: 100%;
  padding: 0;
  border: 1px solid black;
  filter:contrast(160%)
}

#timer {
  width: 12vh;
}

